body{
    text-align: center;
}
#title{
    text-align: left;
}
h1, h2,h3,h4,h5,h6{
    font-family: "Montserrat-Bold";
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 7% 15%;
}
#features{
    position: relative;
    z-index: 1;
}
.feature-box{
    padding: 5%;
    line-height: 1rem;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    background-color: #ef8172;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px;
}
#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}
.title-image{
    position: absolute;
    width: 60%;
    transform: rotate(25deg);
    padding: 5% 5%;
    right: 15%;
}
@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
.cta-heading{
    line-height: 1.5;
    font-family: "Montserrat-Black";
    font-size: 3.5 rem;
}
.social-icon {
    margin: 20px 10px;
}
/* Headings */
.big-heading{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
.feature-title{
    font-size: 1.5rem;
}
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: #fff;
}